header {
  height: 300px;
}

header h1 {
    padding-top: 100px;
    text-align: center;
    color: white;
}

#headerImage {
  background-image: url(roses.jpg);
  background-size: 100%;
  max-width: 100%;
  height:300px;
  background-attachment: fixed;
}